@font-face {
  font-family: Montserrat;
  src: url("src/assets/mont.ttf");
}

body {
  font-family: Montserrat;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002939;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #002970;
}

.active {
  background-color: #e4cfa9;
}

.header{
  background-image: linear-gradient(to bottom right, #ffe0b4, #ff9c51 40%, #ff6541 60%, #002116 100%);
  padding: 50px;
  background-size: 200% 200%;
  animation: movingGradient 5s linear infinite alternate;
}

.header p,h2{
  color: #ffffff;
  text-align: center;
}

@keyframes movingGradient {
  from{background-position: 0 0; }
  to{background-position: 100% 100%;}
}

.air{
  width: 100%;
  height: 650px;
}

.market{
  margin-left: 23%;
  margin-right: 20%;
}

.mobile{
  display: inline-block;
  border: 1px #e5e5e5 solid;
}

.mobile img{
  width: 250px;
  height: 250px;
}

.headphone{
  display: inline-block;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
}

.headphone img{
  width: 250px;
  height: 250px;
}

.laptop{
  display: inline-block;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
}

.laptop img{
  width: 250px;
  height: 250px;
}

.tablet{
  display: inline-block;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
}

.tablet img{
  width: 250px;
  height: 250px;
}

.watch{
  display: inline-block;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
}

.watch img{
  width: 250px;
  height: 250px;
}

.tv{
  display: inline-block;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
}

.tv img{
  width: 250px;
  height: 250px;
}

footer{
  background: #002939;
  height: 300px;
  width: 100%;
}

.foo {
  margin-left: 30%;
  background: #002939;
  display: inline-block;
  list-style-type: none;
}

.li {
  padding-top: 5px;
  float: left;
}

.li p{
  margin-top: -10px;
  font-size: 16px;
  text-align: center;
  font-family: Montserrat;
}

.li2{
  padding-top: 5px;
  float: left;
}

.li2 a{
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-family: Montserrat;
}

.li1{
  padding-top: 5px;
  float: left;
}

.li1 a{
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-family: Montserrat;
}

.hr{
  width: 80%;
  color: #ffffff;
  text-align: center;
}
