<body>
  <div class="header">
    <h2>Winter discount</h2>
    <p>Don't miss the chance!</p>
  </div>

  <ul class="nav">
    <li><a class="active" routerLink="../home">Home</a></li>
    <li><a routerLink="../market">Market</a></li>
    <li><a routerLink="../basket">Basket</a></li>
    <li style="float:right"><a routerLink="../login">Login</a></li>
<!--    <li style="float:right"><a routerLink="../sign-in">Sign in</a></li>-->
  </ul>

  <img class="air" src="assets/image/air.jpg.jpeg">

  <div class="market">
    <h1>You may be interested in</h1>
    <div class="mobile">
      <img src="assets/image/iphone.jpeg">
      <p>Mobile: Iphone</p>
      <p>Price: 489.000tg</p>
      <p>Description: Apple iPhone 13</p>
    </div>
    <div class="laptop">
      <img src="assets/image/lenovo.jpg">
      <p>Laptop: Lenovo</p>
      <p>price: 500.000tg</p>
      <p>Description: Lenovo legion</p>
    </div>
    <div class="headphone">
      <img src="assets/image/galaxy.png">
      <p>Headphone: Galaxy Buds+</p>
      <p>price: 60.000tg</p>
      <p>Description: Samsung Buds+</p>
    </div>
    <div class="tablet">
      <img src="assets/image/huawei.webp">
      <p>Tablet: Huawei</p>
      <p>price: 220.000tg</p>
      <p>Description: Huawei P20</p>
    </div>
    <div class="watch">
      <img src="assets/image/watch.png">
      <p>Smart watch: Apple watch 6</p>
      <p>price: 200.000tg</p>
      <p>Description: Apple watch 6</p>
    </div>
    <div class="tv">
      <img src="assets/image/tvwebp.webp">
      <p>TV: SAMSUNG UE50AU90</p>
      <p>price: 200.000tg</p>
      <p>Description: SamsungTV Crutal</p>
    </div>
  </div>

  <br>

  <footer>
    <br><br>
    <ul class="foo">
      <li class="li2"><a routerLink="../home">Home</a></li>
      <li class="li2"><a routerLink="../market">Market</a></li>
      <li class="li2"><a routerLink="../basket">Basket</a></li>
      <li class="li1"><a routerLink="../login">Login</a></li>
      <li class="li1"><a routerLink="../admin">Admin</a></li>
      <br><br>
    </ul>
    <hr class="hr">
  </footer>

</body>
